html {
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

:root {
  --primary-bg-color: #2a2a30;
  --secondary-bg-color: #5c5c5c;
  --border-color: #474747;
  --primary-color: #3a3a3a;
  --secondary-color: #e9e9e9;
  --tertiary-color: #999999;
}

body {
  background-color: var(--primary-bg-color);
  font-family: monospace;
  margin: 0;
  height: 100vh;
}

.header {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
  transition: 0.4s;
  background-color: var(--primary-bg-color);
}

.logo {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  font-size: 3rem;
  color: var(--secondary-color);
  gap: 1.3rem;
  padding-right: 2rem;
}

.logo #subtext {
  font-size: 0.85rem;
}

.logo img {
  height: 4.5rem;
  box-shadow: 0 3.5px var(--secondary-color);
  border-radius: 5rem;
}

#search-form {
  display: flex;
  gap: 1rem;
  width: 80%;
  justify-content: center;
  padding-right: 2rem;
}

#search-input {
  width: 800px;
  border-radius: 1rem;
  padding: 0.9rem;
  border: 1px solid var(--border-color);
  font-size: 1.2rem;
  font-family: monospace;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  transition-duration: 0.2s;
}

#search-input:focus,
#search-input:active {
  outline: none;
  border-color: var(--secondary-color);
}

#search-input::placeholder {
  color: var(--tertiary-color);
}

#submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  border-radius: 1rem;
  border: 1px solid var(--border-color);
  background-color: var(--primary-color);
  cursor: pointer;
  transition-duration: 0.2s;
}

#submit-btn:hover {
  background-color: var(--border-color);
}

#submit-btn i {
  color: var(--secondary-color);
  font-size: 1.5rem;
}

#submit-btn:active {
  border-color: var(--secondary-color);
}

#content {
  width: 80%;
  margin: 0 auto;
  padding-top: 170px;
  overflow-y: auto;
}

#total-results {
  color: var(--secondary-color);
  background-color: var(--primary-bg-color);
}

.result-article {
  padding: 1rem;
  margin: 1.2rem 0;
  background-color: var(--primary-color);
  border-radius: 1rem;
  border: 1px solid var(--border-color);
  transition: all 0.25s ease-in-out;
}

.result-article:hover {
  border-color: var(--secondary-color);
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
  padding: 1.5rem;
  box-shadow: #96969634 0px 5px 8px;
}

.article-title a {
  color: var(--secondary-color);
  text-decoration: none;
  border-bottom: 1px solid var(--tertiary-color);
}

.article-title a:hover {
  border-bottom: 4px solid black;
  transition-duration: 0.2s;
}

.article-title a:focus {
  border-bottom: 4px solid #222b5e;
}

.label-list {
  display: inline-flex;
  list-style: none;
  gap: 1rem;
  margin-top: 0.4rem;
  padding: 0 0.3rem;
  width: 100%;
  font-size: 12px;
  border-radius: 3px 2px;
}

.label-list li {
  color: var(--secondary-color);
  font-weight: bolder;
}

.label-list li .label-value {
  color: var(--tertiary-color);
}

.article-snippet {
  color: var(--secondary-color);
  padding: 0.3rem;
}

.result-article:hover .article-snippet {
  background-color: var(--secondary-bg-color);
  border-radius: 0.2rem;
  transition-duration: 0.5s;
}

#main-container {
  display: flex;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: var(--primary-color);
}

::-webkit-scrollbar-thumb {
  background-color: #707070;
  border-radius: 20px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #868686;
}

/* #theme {
  display: flex;
  height: 2rem;
  align-self: center;
}

.barbie {
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  background: none;
}

.barbie img{
  height: 1.5rem;
} */